Package                       Version
----------------------------- -----------
accessible-pygments           0.0.4
alabaster                     0.7.13
appdirs                       1.4.4
async-generator               1.10
attrs                         22.1.0
autoscraper                   1.1.14
Babel                         2.12.1
backcall                      0.2.0
beautifulsoup4                4.11.1
blis                          0.7.9
bs4                           0.0.1
catalogue                     2.0.8
certifi                       2022.6.15.1
cffi                          1.14.5
chardet                       4.0.0
charset-normalizer            2.1.1
click                         8.1.3
colorama                      0.4.6
confection                    0.0.3
CouchDB                       1.2
cryptography                  3.4.7
cssselect                     1.1.0
cycler                        0.10.0
cymem                         2.0.7
Cython                        0.29.28
decorator                     4.4.2
distlib                       0.3.6
distro                        1.5.0
dnspython                     2.3.0
docutils                      0.18.1
en-core-web-sm                3.4.1
et-xmlfile                    1.1.0
fake-useragent                0.1.11
fastjsonschema                2.17.1
filelock                      3.8.0
flake8                        3.8.4
funcy                         1.17
future                        0.18.2
gensim                        3.6.0
greenlet                      1.1.0
h11                           0.13.0
helium                        3.0.8
idna                          3.3
igraph                        0.9.8
imagesize                     1.4.1
IMDbPY                        2021.4.18
importlib-metadata            4.12.0
ipykernel                     5.5.5
ipython                       7.20.0
ipython-genutils              0.2.0
jedi                          0.18.0
Jinja2                        3.1.2
joblib                        1.1.0
jsonschema                    4.17.3
jupyter-book                  0.15.1
jupyter-cache                 0.6.1
jupyter-client                6.1.12
jupyter_core                  5.3.1
kiwisolver                    1.3.1
langcodes                     3.3.0
latexcodec                    2.0.1
linkify-it-py                 2.0.2
loess                         2.1.1
lxml                          4.6.3
markdown-it-py                2.2.0
MarkupSafe                    2.1.1
matplotlib                    3.4.2
mccabe                        0.6.1
mdit-py-plugins               0.3.5
mdurl                         0.1.2
msoffcrypto-tool              4.12.0
murmurhash                    1.0.9
myst-nb                       0.17.2
myst-parser                   0.18.1
nbclient                      0.7.4
nbformat                      5.9.0
networkx                      3.1
nltk                          3.7
numexpr                       2.8.3
numpy                         1.20.1
olefile                       0.46
openpyxl                      3.0.10
outcome                       1.2.0
packaging                     21.3
pandas                        1.2.1
parse                         1.19.0
parso                         0.8.1
pathy                         0.6.2
pdfminer.six                  20201018
phonenumbers                  8.13.3
pickleshare                   0.7.5
Pillow                        8.3.1
pip                           22.3.1
platformdirs                  2.5.2
plotbin                       3.1.3
preshed                       3.0.8
prompt-toolkit                3.0.14
pybtex                        0.24.0
pybtex-docutils               1.0.2
pycairo                       1.20.1
pycodestyle                   2.6.0
pycparser                     2.20
pydantic                      1.10.2
pydata-sphinx-theme           0.13.3
pyee                          8.2.2
pyflakes                      2.2.0
Pygments                      2.15.1
pyLDAvis                      3.2.2
pymongo                       4.2.0
pyparsing                     2.4.7
pypdf                         3.3.0
PyPDF2                        1.26.0
pyppeteer                     1.0.2
pyquery                       1.4.3
pyrsistent                    0.19.3
PySocks                       1.7.1
python-dateutil               2.8.1
python-dotenv                 0.21.0
python-igraph                 0.9.8
pytz                          2021.1
pywin32                       301
PyYAML                        6.0
pyzmq                         22.1.0
regex                         2022.9.11
requests                      2.28.1
requests-html                 0.10.0
scikit-learn                  1.0.2
scipy                         1.6.0
seaborn                       0.11.2
selenium                      3.141.0
setuptools                    49.2.1
six                           1.15.0
sklearn                       0.0
smart-open                    5.2.1
snap-stanford                 6.0.0
sniffio                       1.3.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soupsieve                     2.3.2.post1
spacy                         3.4.2
spacy-legacy                  3.0.10
spacy-loggers                 1.0.3
Sphinx                        5.0.2
sphinx-book-theme             1.0.1
sphinx-comments               0.0.3
sphinx-copybutton             0.5.2
sphinx_design                 0.3.0
sphinx_external_toc           0.3.1
sphinx-jupyterbook-latex      0.5.2
sphinx-multitoc-numbering     0.1.3
sphinx-thebe                  0.2.1
sphinx-togglebutton           0.3.2
sphinxcontrib-applehelp       1.0.4
sphinxcontrib-bibtex          2.5.0
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.1
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
SQLAlchemy                    1.4.19
srsly                         2.4.5
tabula-py                     2.2.0
tabulate                      0.9.0
texttable                     1.6.4
thinc                         8.1.5
threadpoolctl                 3.0.0
tornado                       6.1
tqdm                          4.64.1
traitlets                     5.9.0
trio                          0.21.0
trio-websocket                0.9.2
typer                         0.4.2
typing_extensions             4.4.0
uc-micro-py                   1.0.2
urllib3                       1.26.12
virtualenv                    20.16.5
w3lib                         2.0.1
wasabi                        0.10.1
wcwidth                       0.2.5
webdriver-manager             3.8.3
websockets                    10.3
wheel                         0.37.1
wsproto                       1.2.0
xlrd                          2.0.1
xmltodict                     0.13.0
zipp                          3.8.1
